body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;

  /* fixes from url(https://www.loom.com/share/5b7fa2eb5bf3419b81f4e202121334e5?sid%3D4f42aa63-a6f2-4307-8cce-452f32efc100) */
  /* display: flex; noflex*/
  /* flex-direction: column; */
  /* align-items: baseline; */
  width: 100%;
}

.center {
  margin: auto;
}

.mb-hero{
  margin-bottom: 48px;
}

.tc-mb {
  margin-bottom: 8px;
}

.site-hdr {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* .site-hdr > .container{
display: flex;
align-items: center;
margin-right: auto;
} */
.site-hdr > .container,
.site-nav {
  display: flex;
  /* fixes from url(https://www.loom.com/share/c73e5fdbf16c47f99e5dc4097c92defc?sid%3D5719a705-c30e-4398-be2f-16b66c78a13f) and url(https://www.loom.com/share/5b7fa2eb5bf3419b81f4e202121334e5?sid%3D4f42aa63-a6f2-4307-8cce-452f32efc100) */
  align-items: center;
  margin-right: auto;
}

.ws-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17; /* line-height: 21px; */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.ws-logo-black {
  color: #2e2f42;
}

.ws-logo-white {
  color: #f4f4fd;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-item {
  position: relative;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* fixes from url(https://www.loom.com/share/5b7fa2eb5bf3419b81f4e202121334e5?sid%3D4f42aa63-a6f2-4307-8cce-452f32efc100) */
  display: block;
}

.nav-item.active,
.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.nav-item.active::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contact-item {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:hover,
.contact-item:focus {
  color: #404bbf;
}

.hero {
  padding: 188px 0;
  max-width: 1440px;

  /* fixes from url(https://www.loom.com/share/5b7fa2eb5bf3419b81f4e202121334e5?sid%3D4f42aa63-a6f2-4307-8cce-452f32efc100) */
  margin: 0 auto;
}

.hero-bg {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpg);
  /* background-image: url("../images/Dark-bg.png"),
    url("../images/people-office\ 1.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ws-bottom-bg {
  background: #2e2f42;
}
.hero-text {
  /* font-family: "Roboto", sans-serif; */
  max-width: 496px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07; /* line-height: 60px; */
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.order-btn {
  /* font-family: "Roboto", sans-serif; */
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background: #404bbf;
}

section.features,
section.team,
section.portfolio {
  padding: 120px 0;
}

.visually-hidden {
  /* visibility: hidden; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list,
.team-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 72px) / 4);
  /* width: calc((100% - 3 * 24px) / 4); */
  /* flex-basis: calc((100% - 3 * 24px) / 4); */
  /* flex-basis: calc((100% - 72px) / 4); */
  overflow: hidden;
}

.fi-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* .feature-icon {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
} */

.feature-title {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2; /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-desc {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  /* color: #434455; */
}

.team {
  background: #f4f4fd;
}

.title-text {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 700;
  font-size: 36px;

  line-height: 1.11; /* line-height: 40px; */
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-card {
  background: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.tc-wrapper {
  padding: 32px 0;
}

.team-photo {
  width: 264px;
  height: 260px;
}

.team-name {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2; /* line-height: 24px; */
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-position {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-links {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.links-item {
  width: 40px;
  height: 40px;
}

.link {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}

.proj-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.proj-card {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.proj-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.pc-img-container {
  position: relative;
  overflow: hidden;
}

.hidden-text-desc {
  position: absolute;
  top: 0;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.proj-card:hover .hidden-text-desc {
  transform: translateY(0%);
}

.pc-text-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.proj-title {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2; /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.proj-type {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.text-white {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.ws-bottom {
  padding: 100px 0;
  display: flex;
}

.ws-bottom > .container {
  display: flex;
  align-items: baseline;
}

/* .block {
} */

.ws-ftr {
  display: inline-block;
  /* min-width: 264px; */
  margin-bottom: 16px;
}

.ws-desc {
  max-width: 264px;
}

.social-links-caption {
  margin-bottom: 16px;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em;
  color: #fff;
}

.social-links {
  display: flex;
  gap: 16px;
}

.logo-text-container {
  margin-right: 120px;
}

.links-bg:hover,
.links-bg:focus {
  background-color: #31d0aa;
}
